.site-footer
  background-color: $blue
  padding-bottom: 1rem
  padding-top: 1rem

  p
    color: rgba(white, .75)
    font-size: .75rem
    font-weight: 300
    margin-bottom: .25rem
    text-align: center

  a
    color: inherit
