$background-color: #fafafa
$text-color: rgba(black, .75)

$font-family-sans: Signika, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
$font-family-mono: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace
$line-height: 1.5

$global-margin-bottom: 1rem
